<div class="d-flex">
    <div id="sidebar-container" class="bg-danger">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none ml-5"><%= user.charAt(0).toUpperCase() + user.slice(1) %></span>
            <img src="/users/<%= userId %>/image" class=" img-profile rounded-circle mx-auto mb-2" alt="Profile Picture">
        </a>
        <div class="menu d-flex flex-column align-items-center justify-content-center">
            <a href="#tusAutomoviles" class="nav-link text-light my-2 text-center">Tus Autom贸viles</a>
            <a href="#agregar" class="nav-link text-light my-2 text-center">Agregar un nuevo Aut贸movil</a>
            <a href="#editar" class="nav-link text-light my-2 text-center">Edita info de tu Autom贸vil</a>
            <a href="#eliminar" class="nav-link text-light my-2 text-center">Eliminar Autom贸vil</a>
        </div>
    </div>